<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Records</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <a href="/add" class="btn">Add New Record</a>
        <li><a href="/edit">Edit a record</a></li>
        <li><a href="/delete">Delete a record</a></li>
      </ul>
    </nav>
    <h2>Record Store Inventory</h2>
    
    <!-- Add Button -->
    <a href="/add" class="btn">Add New Record</a>
    
    <!-- Table to Display Records -->
    <table>
      <thead>
        <tr>
          <th>ID</th>
                <th>Record Name</th>
                <th>Artist</th>
                <th>Release Date</th>
                <th>In Stock</th>
        </tr>
      </thead>
      <tbody>
        <!-- Scriptlet tag <% %> to execute javascript to allow for looping through records array-->
        <% records.forEach(record => { %>
          <tr>
            <!-- Output tag <%= %> to print stored record details-->
            <td><%= record.id %></td>
            <td><%= record.name %></td>
            <td><%= record.artist %></td>
            <td><%= record.InStock ? "Yes" : "No" %></td>
            <td><%= record.ReleaseYear %></td>
            <td>
              <!-- Edit Button -->
              <a href="/edit" class="btn btn-edit">Edit</a>
              
              <!-- Delete Button -->
              <form action="/delete/<%= record.id %>" method="POST" style="display:inline;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-delete">Delete</button>
              </form>
            </td>
          </tr>
          <!-- Closing Statement -->
        <% }); %>
      </tbody>
    </table>
  </body>
</html>